body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background-color: darkkhaki;
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.striked {
  text-decoration: line-through;
}

.enterEditModeDiv {
  width: 100%;
  min-height: 5em;
  align-self: flex-end;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.enterEditModeText {
  text-align: center;
  padding-left: 0;
  border: none;
  margin: 0 auto;
}

.todoListItem {
  display: flex;
  border-top: 2px dotted black;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.deleteIconDiv {
  height: 100%;
  width: 5em;
}

.bottomFill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  border-top: 2px dotted black;
}

p {
  font-size: 2em;
  cursor: pointer;
}

.todoText {
  margin-top: 0.25em;
  margin-bottom: 0;
}

#root {
  width: 30%;
  margin: 0 auto;
  font-family: dekko, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: darkkhaki;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "dekko";
  src: local("dekko"), url(./assets/Dekko-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
